
$container_color: hsl(60, 10%, 70%);
$body_color: $container_color;
$text_color: hsl(60, 10%, 10%);
$vertical_padding: 1em;

@mixin rounded_corners ($radius: 5px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin highlight () {
  background-color: red;
}

#about {
  margin-top: 1em;
}

#about_header {
  float: left;
  margin-right: 2em;
}

#about_tools {
  background-color: darken($body_color, 25%);
  padding: 1em;
}

#about_footer {
  clear: both;
  text-align: center;
  width: 100%;
}

body {
  font-size: 12pt;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  background-color: $body_color;
  color: $text_color;
}

.header {
  position: absolute;
  top: -1em;
  width: 100%;
  text-align: right;
  margin: 0px;
  padding: 0px;

  & a {
    color: $text_color;
  }
  & ol {
    float: right;
  }
  & li {
    float: left;
    margin: 0px;
    margin-right: 5px;
    padding: 3px;
    background-color: adjust_hue(darken($body_color, 20%), 0);
    border: 1px solid $text_color;
    border-top: 0px;
    font-size: 80%;
  }
}

.section {
  padding-top: 1em;
}

.container {
  background-color: $container_color;
  width: 98%;
  margin: 0%;
  padding: 0% 1%;

  & .container {
    width: 98%;
    background-color: adjust_hue(darken($container_color, 15%), 5);
    @include rounded_corners(10px);

    & .container {
      background-color: darken($container_color, 25%);
    }
  }
}

a {
  text-decoration: none;
  color: lighten($text_color, 15%);
  &:hover {
    color: lighten($text_color, 5%);
  }
}

p {
  padding: 1em;
}

ul, ol {
  padding: 1em;
}
li {
  padding-bottom: .5em;
}

.canvas_container {
  background-color: inherit;
  text-align: center;
}
canvas {
/*
  @include highlight();
*/
}

input {
  font-size: 150%;
  color: darken($text_color, 20%);
  border: 0px solid lighten($text_color, 70%);
  background-color: darken($container_color, 30%);
  @include rounded_corners(5px);
  &[type='text'] {
    color: lighten($text_color, 40%);
    background: lighten($container_color, 10%);
    &:focus {
      color: lighten($text_color, 20%);
      background: lighten($container_color, 20%);
    }

  }
  &[type='button']:hover, &[type='submit']:hover {
    color: lighten($text_color, 50%);
  }
}

h1 {
  font-size: 150%;
}

pre {
  font-size: 150%;
}

.control_container {
  padding-right: 0%;
  text-align: right;
}

::selection {
  background: darken($container_color, 20%);
}

:focus {
  outline: 4px solid darken($container_color, 20%);
}

.unit {
  white-space: nowrap;
}

#chart_img {
  width: 100%;
  @include rounded_corners(10px);
}

