
@image_bg: #efefef;

body {
  padding-top: 100px;
  background-color: @image_bg * .75;
}
#punch {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#greeting {
  font-size: 24pt;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  padding-bottom: 20px;
}
#handle {
  color: #0000ff;
  float: left;
}
