%head
  %link{:rel => "stylesheet", :href => "/css/punch.css", :type => "text/css"}
%body
  #punch
    #greeting
      #handle @#{params[:handle]}
      's Twitter Punch Card:
    #chart
      %img{:src => @chart_url}
