body {
  font-size: 12pt;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #c0c0b5;
  color: #262624; }

#main {
  background-color: #999990;
  width: 80%;
  margin: 2% 5%;
  padding: 1% 5%;
  height: auto;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px; }

a {
  text-decoration: none;
  color: #43433f; }

#play_container {
  background-color: #7c7c75;
  padding: 2% 2%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

#canvas_container {
  background-color: inherit;
  text-align: center; }

input {
  font-size: 150%;
  color: #e6e6d9;
  border: 0px solid #999990;
  background-color: #60605a;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  input[type='text'] {
    color: #999990;
    background: #cdcdc1; }
    input[type='text']:focus {
      color: #4c4c48; }
  input[type='button']:hover, input[type='submit']:hover {
    color: #4c4c48; }

h1 {
  font-size: 150%; }

pre {
  font-size: 150%; }

.control_container {
  padding-top: 30px;
  padding-right: 0%;
  text-align: right; }

::selection {
  background: #acaca2; }

:focus {
  outline: 4px solid #999990; }

.unit {
  white-space: nowrap; }

#chart_img {
  width: 100%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
