body {
  font-size: 12pt;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #babaab;
  color: #1c1c17; }

.header {
  position: absolute;
  top: -1em;
  width: 100%;
  text-align: right;
  margin: 0px;
  padding: 0px; }
  .header a {
    color: #1c1c17; }
  .header ol {
    float: right; }
  .header li {
    float: left;
    margin: 0px;
    margin-right: 5px;
    padding: 3px;
    background-color: #8c8c73;
    border: 1px solid #1c1c17;
    border-top: 0px;
    font-size: 80%; }

.section {
  padding-top: 1em; }

.container {
  background-color: #babaab;
  width: 98%;
  margin: 0%;
  padding: 0% 1%; }
  .container .container {
    width: 98%;
    background-color: #969881;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; }
    .container .container .container {
      background-color: #7e7e67; }

a {
  text-decoration: none;
  color: #464639; }
  a:hover {
    color: #2a2a22; }

p {
  padding: 1em; }

ul, ol {
  padding: 1em; }

li {
  padding-bottom: .5em; }

.canvas_container {
  background-color: inherit;
  text-align: center; }

canvas {
  /*
    @include highlight();
  */ }

input {
  font-size: 150%;
  color: black;
  border: 0px solid #d1d1c7;
  background-color: #70705c;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  input[type='text'] {
    color: #8c8c73;
    background: #d1d1c7; }
    input[type='text']:focus {
      color: #545445;
      background: #e8e8e3; }
  input[type='button']:hover, input[type='submit']:hover {
    color: #a3a38f; }

h1 {
  font-size: 150%; }

pre {
  font-size: 150%; }

.control_container {
  padding-right: 0%;
  text-align: right; }

::selection {
  background: #8c8c73; }

:focus {
  outline: 4px solid #8c8c73; }

.unit {
  white-space: nowrap; }

#chart_img {
  width: 100%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

#about {
  margin-top: 1em; }

#about_header {
  float: left;
  margin-right: 2em; }

#about_tools {
  background-color: #7e7e67;
  padding: 1em; }

#about_footer {
  clear: both;
  text-align: center;
  width: 100%; }

#summary {
  padding-bottom: 1em; }
