<html> 
<head><title>1400chars</title> 
<link rel="stylesheet" type="text/css" href="/media/main.css" /> 
<script src="http://platform.twitter.com/anywhere.js?id=AB4YzbZIqG50jAqch9tDjQ&v=1" type="text/javascript"></script> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script> 
 
<script src="/media/character_counter.js" type="text/javascript"></script> 
 
<script type="text/javascript"> 
<!--
function rollImage(img_name, img_src) {
         document[img_name].src = img_src;
}
 
twttr.anywhere(function (T) {
    T(".twit_hover").hovercards({ linkify: false });
});
 
 
//-->
</script> 
</head> 
 
<body> 
<div id="container"> 
 
  <div id="header"> 
      <div id="logo"> 
          <a href="/" class="link">1400chars</a> 
      </div> 
      <div id="buttons"><div class="link">About</div>|<div class="twit_hover
      link">@1400chars</div>|by <div class="twit_hover link">@borisraskin</div></div> 
  </div> 
  <div style="clear:both;"></div> 
    
  <div id="arrow-spacer"></div> 
    
  <div id="content"> 
    <div id="content-standard-pad"> 
    
  
  <div id="counterbox"><span id="counter"></span></div> 
  <form action="/" method="post"> 
  <div> 
  <table> 
<tr><th><label for="id_img_content">Text in Image:</label></th><td><textarea wrap="on" id="id_img_content" rows="12" cols="60" name="img_content"></textarea></td></tr> 
  </table> 
  <div id="centerbutton"> 
  <input type="submit" value="Tweet!" class="submitbutton" /> 
  </div> 
  </form> 
  </div> 
 
    </div> 
 
  </div> 
</div> 
</body
