  {{#about}}
  <div id="about" class="container">
    <article>
      <header id="about_header">
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
        <time datetime={{date}} pubdate>{{date}}</time>
        <div id="about_tools">
          <h3>Tools used:</h3>
          <ul>
            {{#tools}}
            <li><a href="{{url}}" target="_blank">{{name}}</a></li>
            {{/tools}}
          </ul>
          {{#code}}
          <h3>Code:</h3>
          <ul>
            <li><a href="/docs/coffee/{{item}}.html">{{item}}</a></li>
          </ul>
          {{/code}}
        </div>
      </header>
      <div id="about_description">
        {{#description}}
          <div class="about_section">
            {{{p}}}
          </div>
        {{/description}}
      </div>
      <div id="about_footer">
      &copy; 2010 {{author}}
      </div>
    </article>
  </div>
  {{/about}}

