<div id="container">
  <div id="summary">
    <h1>Bo's Playground</h1>
    <p>
      Hi, my name is Bo.  I like to build toys and tools.  This is my
      playground.
    </p>
  </div>
  <div id="toc">
    <div>
      <h1>Toys</h1>
      <ul id="toys">
        {{#toys}} <li><a href="{{link}}">{{name}}</a></li> {{/toys}}
      </ul>
    </div>
    <div>
      <h1>Tools</h1>
      <ul id="tools">
        {{#tools}} <li><a href="{{link}}">{{name}}</a></li> {{/tools}}
      </ul>
    </div>
  </div>
  <div id="contact">
    <h1>Links</h1>
    <ul id="links">
      {{#links}} <li><a href="{{link}}">{{name}}</a></li>{{/links}}
    </ul>
  </div>
</div>
