<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
    </script>
    <!--[if IE]> <script src="/js/excanvas.js"></script> <![endif]-->
    {{#tweek_toys}}
      <script type="text/javascript">tweek_toy='{{name}}'</script>
    {{/tweek_toys}}
    {{# scripts}}
    <script type="text/javascript" src="/js/{{name}}.js"></script>
    {{/ scripts}}
    {{#styles}}
    <link rel="stylesheet" href="/css/{{name}}.css" type="text/css">
    {{/styles}}
  </head>
  <body>
    <div id="header" class="header">
      <ol id="menu">
        <li><a href="/">Home</a></li>
      </ol>
    </div>
    <div id="main" class="container">
      {{{yield}}}
    </div>
  </body>
</html>
