<!DOCTYPE html>
<html>
  <head>
    <title>
      {{title}}
    </title>
    <script type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/punch.css" type="text/css"
      media="screen">
    {{# scripts}}
    <script type="text/javascript" src="{{name}}"></script>
    {{/ scripts}}
    <script type="text/javascript" src="/js/ga.js"></script>
  </head>
  <body>
    <div id="main">
      {{{yield}}}
    </div>
  </body>
</html>
