<!DOCTYPE html>
<html>
  <head>
    <title>
      {{title}}
    </title>
    <script type="text/javascript"
      src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <link rel="stylesheet" href="/css/punch.css" type="text/css"
      media="screen">
    <script type="text/javascript" src="/js/punch.js"></script>
    <script type="text/javascript" src="/js/ga.js"></script>
  </head>
  <body>
    <div id="main">
      {{{yield}}}
    </div>
  </body>
</html>
