<div id="play">
  <h1 id="title">{{title}}</h1>
  <div id="play_container" class="container">
    <div id="canvas_container" class="canvas_container">
      Coming Soon?
    </div>
    <div id="debug"></div>
  </div>
  <div id="controls" class="control_container"></div>
  {{> about}}
</div>
