<div id="play">
  <h1 id="title">{{title}}</h1>
  <div id="play_container" class="container">
    <div id="canvas_container" class="canvas_container">
      <canvas id="play_canvas" width=1000 height=500>
        This toy uses a canvas element,
        which doesn't seem to be supported by your browser.
      </canvas>
    </div>
    <div id="debug"></div>
  </div>
</div>
