<div id="play">
  <h1 id="title">{{title}}</h1>
  <div id="play_container">
    <div id="canvas_container">
      <canvas id="play_canvas" width=800 height=400>
        This toy uses a canvas element,
        which doesn't seem to be supported by your browser.
      </canvas>
    </div>
  </div>
</div>
