<h1 id="greeting">
  <a href="http://twitter.com/{{handle}}">@{{handle}}</a>'s
  <span class="unit">Punch Card</span>
</h1>
<div id="chart">
  <div id="canvas_container">
    <canvas id="chart_canvas" width=800 height=400>
      This toy uses a canvas element,
      which doesn't seem to be supported by your browser.
    </canvas>
  </div>
</div>
<div id="form_div" class="control_container">
  <form id="punch_form" action="/punch">
    <input type="text" name="handle" id="handle_input"
           value="{{handle}}" spellcheck=false>
    <input type="submit" name="punch" id="punch_input"
           class="input_button" value="Punch">
  </form>
</div>
